/dist
/node_modules
/coverage
/coverage-e2e*
/storage/uploads
.env
.env.local
.env.*.local
logs
*.log
.DS_Store
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.sunlint-eslint.config.js
